* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #777;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

#container {
  height: 95vh;
  margin: 0 auto;
  width: 97vw;
}

#container h1 {
  margin: 10px;
  text-align: center;
}

.tooltip {
  background: black;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  pointer-events: none;
  position: absolute;
  text-align: left;
}

.category {
  color: lightBlue;
}

svg rect {
  fill: #2A2C39;
}

.country {
  fill: #d0d0d0;
  stroke: #2A2C39;
  stroke-width: 1;
}

@media (max-width: 700px) {
  #container h1 {
    font-size: 150%;
  }
}

@media (max-width: 500px) {
  #container h1 {
    font-size: 100%;
  }
}